[package]
name = "aios_core"
version = "0.1.0"
edition = "2021"
resolver = "2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
smol_str = { version = "0.1.21", features = ["serde"] }
glam = { version = "0.20.2", features = ["transform-types"] }
id_tree = { version = "1.8.0", features = ["serde_support"] }
dashmap = { version = "5.2.0", features = ["serde"] }
hexasphere = "7.0.0"
anyhow = "1.0.57"
lyon = "0.17.10"
nalgebra = "0.26.2"
nalgebra-glm = "0.12.0"
ncollide3d = "0.32.0"
approx = "0.5.1"
memchr = "2.5.0"
nom = "7.1.1"
nom-derive = "0.10.0"
itertools = "0.10.1"
skytable = "0.7.0"
flate2 = "1.0.23"
lazy_static = "1.4.0"
smallvec = "1.8.0"

bevy = { path = "../bevy", default-features = false, features = ["render", "filesystem_watcher"] }
bevy_egui = { path = "../bevy_egui" }
#bevy_mod_raycast = { git = "https://gitee.com/happydpc/bevy_mod_raycast" }
#bevy_egui = {path = "../new/bevy_egui"}
#bevy-inspector-egui = { path = "../new/bevy-inspector-egui" }

serde-name = "0.1.1"
serde = { version = "1.0.133", features = ["derive"] }
serde_derive = "1.0.133"
serde_json = { version = "1.0" }
hash32 = "0.2.1"
hash32-derive = "0.1.1"
prost = "0.8.0"
version-sync = "0.9.4"
fixed = "2.0.0-alpha.2"
bincode = "1.3.3"

truck-base = { version = "0.3.0",git = "https://gitee.com/happydpc/truck.git" }
truck-geotrait = { version = "0.2.0", git = "https://gitee.com/happydpc/truck.git"}
truck-geometry = { version = "0.3.0", git = "https://gitee.com/happydpc/truck.git" }
truck-polymesh = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }
truck-topology = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }
truck-modeling = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }
truck-meshalgo = { version = "0.2.0", git = "https://gitee.com/happydpc/truck.git" }
truck-platform = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }
truck-rendimpl = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }

