[package]
name = "aios_core"
version = "0.1.0"
edition = "2021"
resolver = "2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
smol_str = { version = "0.1.21", features = ["serde"] }
glam = { version = "0.20.2", features = ["transform-types"] }
id_tree = { version = "1.8.0", features = ["serde_support"] }
dashmap = { version = "5.2.0", features = ["serde"] }
hexasphere = "7.0.0"
fixed = "1.12"
anyhow = "1.0.57"
lyon = "0.17.10"
nalgebra = "0.26.2"
nalgebra-glm = "0.12.0"
ncollide3d = "0.32.0"
approx = "0.5.1"
memchr = "2.5.0"
nom = "7.1.1"
nom-derive = "0.10.0"
itertools = "0.10.1"
skytable = "0.7.0"
flate2 = "1.0.23"

#bevy = { path = "../new/bevy", default-features = false, features = ["render", "filesystem_watcher"] }
#bevy_egui = { path = "../new/bevy_egui" }
#bevy_mod_raycast = { git = "https://gitee.com/happydpc/bevy_mod_raycast" }
#bevy_egui = {path = "../new/bevy_egui"}
#bevy-inspector-egui = { path = "../new/bevy-inspector-egui" }

transmog-bincode = "0.1"
serde-name = "0.1.1"
serde = { version = "1.0.133", features = ["derive"] }
serde_derive = "1.0.133"
serde_json = { version = "1.0" }
hash32 = "0.2.1"
hash32-derive = "0.1.1"
prost = "0.8.0"

truck-base = { path = "../../truck/truck/truck-base" }
truck-geotrait = { path = "../../truck/truck/truck-geotrait" }
truck-geometry = { path = "../../truck/truck/truck-geometry" }
truck-polymesh = { path = "../../truck/truck/truck-polymesh" }
truck-topology = { path = "../../truck/truck/truck-topology" }
truck-modeling = { path = "../../truck/truck/truck-modeling" }
truck-meshalgo = { path = "../../truck/truck/truck-meshalgo" }
truck-platform = { path = "../../truck/truck/truck-platform" }
truck-rendimpl = { path = "../../truck/truck/truck-rendimpl" }

