[package]
name = "aios_core"
version = "0.1.2"
edition = "2021"
resolver = "2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["gen_model", "occ"]
occ = ["dep:opencascade"]
render = ["dep:bevy_render"]
manifold = ["dep:manifold-sys"]
truck = ["dep:truck-base", "dep:truck-geotrait", "dep:truck-geometry", "dep:truck-polymesh", "dep:truck-topology", "dep:truck-modeling", "dep:truck-meshalgo", "dep:truck-stepio"]
gen_model = ["manifold"]
debug = []

# [lib]
# name = "rs_core"
# crate-type = ["staticlib", "cdylib"]

[dependencies]
strum = { version = "0.25.0", features = ["derive"] }
strum_macros = "0.25"
smol_str = { version = "0.2.0", features = ["serde"] }
glam = { version = "0.25.0", features = ["serde", "rkyv"]}
id_tree = { version = "1.8.0", features = ["serde_support"] }
dashmap = { version = "5.2.0", features = ["serde"] }
hexasphere = "10.0.0"
anyhow = "1.0.57"
lyon = "1.0.0"
nalgebra = { path="../nalgebra", features = ["serde", "rkyv", "glam025", "convert-glam025"] }
parry3d = { path="../parry/crates/parry3d", features = ["serde-serialize", "rkyv", "rkyv-serialize"] }
parry2d = { path="../parry/crates/parry2d", features = ["serde-serialize", "rkyv", "rkyv-serialize"] }
approx = "0.5.1"
memchr = "2.5.0"
nom = "7.1.1"
itertools = "0.12.0"
flate2 = "1.0.24"
lazy_static = "1.4.0"
smallvec = "1.8.0"
derive_more = "0.99.17"
bitflags = "2.4.0"
ordered-float = "4.2.0"
phf = { version = "0.11.2", features = ["macros"] }
derivative = "2.2.0"
dyn-clone = "1.0.9"
#axum-login = { version = "0.4.1"}
rstar = { path = "../rstar/rstar", features = ["serde"] }
uuid = "1.3.0"
config = "0.13.1"

bevy_transform = { path = "../bevy/crates/bevy_transform", features = ["serialize"] }
bevy_math = { path = "../bevy/crates/bevy_math"}
bevy_ecs = { path = "../bevy/crates/bevy_ecs"}
bevy_reflect = { path = "../bevy/crates/bevy_reflect"}
bevy_render = { path = "../bevy/crates/bevy_render", optional = true}

base64 = "0.22.0"
serde = { version = "1.0.133", features = ["derive"] }
serde_derive = "1.0.133"
serde_json = { version = "1.0" }
hash32 = "0.3.0"
bincode = "1.3.3"
clap = { version = "^4.0", features = ["derive"] }

truck-base = { version = "0.4.0", path = "../truck/truck-base", optional = true }
truck-geotrait = { version = "0.3.0", path = "../truck/truck-geotrait" , optional = true }
truck-geometry = { version = "0.4.0", path = "../truck/truck-geometry" , optional = true }
truck-polymesh = { version = "0.5.0", path = "../truck/truck-polymesh" , optional = true }
truck-topology = { version = "0.5.0", path = "../truck/truck-topology" , optional = true }
truck-modeling = { version = "0.5.1", path = "../truck/truck-modeling" , optional = true }
truck-meshalgo = { version = "0.3.0", path = "../truck/truck-meshalgo", optional = true }
truck-stepio = { version = "0.2.0", path = "../truck/truck-stepio", optional = true }
rkyv = { version = "0.7.42", features=["hashbrown"] }
serde_with = "3.3.0"


geo = "0.28.0"
cavalier_contours ={ path = "../cavalier_contours/cavalier_contours"}
indexmap = { version="2.0.0", features=["serde"] }
pretty-hex = "0.4.0"
once_cell_serde = "1.17.1"
jsonxf = "1.1.1"
once_cell = "1.18.0"
#sea-orm = { version = "0.12.4"}
urlencoding = "2.1.3"
chrono = "0.4.31"

surrealdb = { path = "../../surrealdb/lib", default-features = false, features = ["protocol-ws"]}
num-traits = "0.2.17"
regex = "1.10.2"
petgraph = { version = "0.6.4", features = ["serde-1"] }
cached = { version = "0.46.1", features = ["wasm", "async", "proc_macro"]}
async-recursion = "1.0.5"
num_enum = "0.7.1"
cgmath = "0.18.0"
tokio = { version = "1", features = ["rt", "sync"] }
downcast-rs = "1.2.0"
futures = "0.3.30"


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1", features = ["rt-multi-thread"] }
redb = "1.4.0"
manifold-sys = { path = "../manifold-sys", optional = true }
opencascade = { path = "../opencascade-rs/crates/opencascade", optional = true }
