[package]
name = "aios_core"
version = "0.1.0"
edition = "2021"
resolver = "2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
smol_str = { version = "0.2.0", features = ["serde"] }
glam = { version = "0.23.0"}
id_tree = { version = "1.8.0", features = ["serde_support"] }
dashmap = { version = "5.2.0", features = ["serde"] }
hexasphere = "7.0.0"
anyhow = "1.0.57"
lyon = "1.0.0"
nalgebra = { version = "0.32.2", features = ["serde"] }
nalgebra-glm = "0.18.0"
parry3d = { version = "0.13.3", features = ["serde-serialize"] }
parry2d = { version = "0.13.3", features = ["serde-serialize"] }
approx = "0.5.1"
memchr = "2.5.0"
nom = "7.1.1"
#nom-derive = "0.10.0"
itertools = "0.10.1"
flate2 = "1.0.24"
lazy_static = "1.4.0"
smallvec = "1.8.0"
sled = "0.34.7"
derive_more = "0.99.17"
bitflags = "1.3.2"
ordered-float = "3.0.0"
phf = { version = "0.10.1", features = ["macros"] }
derivative = "2.2.0"
erased-serde = "0.3.22"
dyn-clone = "1.0.9"
#axum-login = { version = "0.4.1"}
rstar = { version = "0.9.3", features = ["serde"] }
uuid = "1.3.0"
base64 = "0.21.0"
bevy = { path = "../bevy", default-features = false, features = ["filesystem_watcher"] }

serde-name = "0.2.1"
serde = { version = "1.0.133", features = ["derive"] }
serde_derive = "1.0.133"
serde_json = { version = "1.0" }
hash32 = "0.3.0"
hash32-derive = "0.1.1"
prost = "0.10.4"
version-sync = "0.9.4"
bincode = "1.3.3"
clap = { version = "3.1.18", features = ["derive"] }

truck-base = { version = "0.4.0", path = "../truck/truck-base" }
truck-geotrait = { version = "0.3.0", path = "../truck/truck-geotrait"}
truck-geometry = { version = "0.4.0", path = "../truck/truck-geometry" }
truck-polymesh = { version = "0.5.0", path = "../truck/truck-polymesh" }
truck-topology = { version = "0.5.0", path = "../truck/truck-topology" }
truck-modeling = { version = "0.5.1", path = "../truck/truck-modeling" }
truck-meshalgo = { version = "0.3.0", path = "../truck/truck-meshalgo" }
#truck-stepio = { version = "0.2.0", path = "../truck/truck-stepio" }
#truck-stepio = { version = "0.2.0", path = "../truck/truck-stepio" }

#truck-base = { version = "0.4.0",git = "https://gitee.com/happydpc/truck.git" }
#truck-geotrait = { version = "0.3.0", git = "https://gitee.com/happydpc/truck.git"}
#truck-geometry = { version = "0.4.0", git = "https://gitee.com/happydpc/truck.git" }
#truck-polymesh = { version = "0.5.0", git = "https://gitee.com/happydpc/truck.git" }
#truck-topology = { version = "0.5.0", git = "https://gitee.com/happydpc/truck.git" }
#truck-modeling = { version = "0.5.0", git = "https://gitee.com/happydpc/truck.git" }
#truck-meshalgo = { version = "0.3.0", git = "https://gitee.com/happydpc/truck.git" }
#truck-stepio = { version = "0.2.0", git = "https://gitee.com/happydpc/truck.git" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
redb = "0.15.0"
csg = { path = "../csgrs/csg" }
